.site-footer {
	padding: 4rem 3rem 5rem 3rem;
	margin-top: 4rem;
	text-align: center;

	h2 {
		padding: 0;
		line-height: 1.15;

		@include atMobile {
			padding: 0 15%;
		}
	}

	.social-links-footer-section {
		display: flex;
		justify-content: space-around;
		padding: 3rem 0 0 0;

		@include atMobile {
			padding: 2rem 3rem;
		}

		a {

			img {
				max-height: 40px;

				@include atMobile {
					max-height: 70px;
				}
			}
		}

	}
}

.entry-footer {

}
