.archive {
	main {
		display: grid;
		grid-template-columns: auto;

		@media screen and (min-width: $md) {
			grid-template-columns: auto auto;
		}

		@media screen and (min-width: $lg) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.youtube-post {
			background-color: $white;
			margin-right: 1.5rem;
			margin-bottom: 2rem;

			.ypt-link-wrapper {
				img {
					width: 100%;
					height: auto;
				}

				h2 {
					font-size: 1.4rem;
					font-weight: bold;
					color: $black;
				}
			}
		}
	}
}
