div.search-results {
	margin-top: 7%;

	form {
		.search-field {
			border: 2px solid $black;
			border-radius: 3px;
			padding: 0.5rem;
		}

		.search-submit {
			background: $gg-blue;
			border: 2px solid $gg-blue;
			color: white;
			padding: 0.5rem 0.75rem;
			border-radius: 3px;
			font-weight: bold;
		}
	}

	header {
		h1 {
			font-size: 2rem;
			margin-left: 0;
		}
	}

	main {
		margin: 5% 1rem;

		article {
			display: flex;
			flex-direction: column;
			margin-bottom: 5%;
			
			@media screen and (min-width: $md) {
				flex-direction: row;
			}

			img {
				width: 100%;
				
				@media screen and (min-width: $md) {
					width: 320px;
					height: 180px;
				}
			}

			.search-result-text {
				flex-grow: 1;
				margin: 5% 1rem;

				@media screen and (min-width: $md) {
					margin: inherit;
					margin-left: 5%;
				}
				
				a {
					font-size: 1.5rem;
					font-weight: bold;
					color: black;
					margin-top: 1%;
				}
			}
		}

		.no-results {
			.search-form, h1 {
				display: none;
			}
		}
	}
}
