div.search-results {
	margin: 2rem 5%;

	main {
		margin: 5% 1rem;

		article {
			display: flex;
			flex-direction: column;
			margin-bottom: 5%;
			
			@media screen and (min-width: $md) {
				flex-direction: row;
			}

			img {
				width: 100%;
				
				@media screen and (min-width: $md) {
					width: 250px;
				}
			}

			.search-result-text {
				flex-grow: 1;
				margin: 5% 1rem;

				@media screen and (min-width: $md) {
					margin: inherit;
					margin-left: 5%;
				}
				
				a {
					font-size: 1.5rem;
					font-weight: bold;
					color: black;
					margin-top: 1%;
				}
			}
		}
	}
}
