.youtube-post {
	.song-and-artist {
		font-weight: 500;

		a {
			color: $black;
			text-decoration: underline;
		}
	}

	.youtube-post-term-pills {
		list-style-type: none;
		padding: 0;
		display: flex;

		.term-pill {
			padding-right: 0.5rem;

			a {
				background: $white;
				border: 1px solid $gg-blue;
				padding: 0.5rem 0.75rem;
				border-radius: 19px;
				color: $gg-blue;
				box-shadow: 1px 2px 3px -1px $gg-blue;
			}
		}
	}

	.youtube-post-video-area {
		display: flex;

		iframe {
			width: 70%;

			&.no-upper-courses {
				width: 100%;
			}
		}

		.upper-course-area {
			width: 30%;
			margin-left: 1.5rem;

			.small-course-card {
				display: flex;
				padding: 3%;
				background-color: $light-grey;
				border-radius: 3px;
				height: 40%;

				&:first-of-type {
					margin-bottom: 7%;
				}

				img {
					max-width: 50%;
					object-fit: contain;
				}

				.course-card-body {
					padding-left: 1rem;
					display: flex;
					flex-direction: column;
					width: 100%;

					.body-text {
						font-size: 0.9rem;
					}

					.course-url-button {
						background-color: $gg-blue;
						border-radius: 3px;
						color: white;
						padding: 0.5rem 1rem;
						align-self: center;
					}
				}

			}
		}
	}

	.youtube-post-type-video-description {
		margin: 5% 0;
	}

	.youtube-post-chords {
		margin-top: 2.5%;
		font-size: 1.5rem;

		a {
			text-decoration: underline;
		}
	}

	.post-body {
		white-space: pre-wrap;
		margin-top: 7.5%;
	}

	.related-posts-heading {
		font-size: 1.75rem;
	}

	.related-youtube-posts {
		list-style-type: none;
		padding: 0;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;

		@media screen and (min-width: $sm) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: $md) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		li {
			margin: 0.5rem;
			text-align: center;

			h3 {
				font-size: 1.1rem;
			}
		}
	}
}
