body {
	background-color: $white;
	box-sizing: border-box;

	.entry-title {
		margin: 1rem 5%;
	}

	&.single {
		.entry-title {
			margin: inherit;
		}
	}

	&.single-youtube-post {
		.site-content {
			margin-top: 5%;
		}
	}

	.youtube-post {

		.entry-header, .entry-content {
			// padding: 1rem 3rem;

			.entry-title {
				margin: inherit;
			}
		}
	}
}
