body {
	background-color: $white;
	box-sizing: border-box;
	
	.site-content {
		margin-left: 5%;
		margin-right: 5%;

		@media screen and (min-width: $sm) {
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.entry-title {
			margin: 5%;
			margin-left: inherit;
			margin-right: inherit;
		}

		.entry-meta {
			display: none;
		}

		.page-content-404 {
			margin: 0 auto;
			height: 300px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&.page {
		.site-content {
			margin-top: 0%;
			margin-left: 0%;
			margin-right: 0%;
		}

		.entry-title {
			margin-top: 5%;
			margin-left: 5%;
			margin-right: 5%;
			text-align: center;
	
			@media screen and (min-width: $sm) {
				margin-left: 10%;
				margin-right: 10%;
			}
		}
	}
}
