/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;
$spacing: 20;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');

/*-------------------------
*  Media Queries
*--------------------------*/
$xxs: 400px;
$xs: 480px;
$sm: 600px;
$sm-md: 700px;
$md: 800px;
$md-lg: 875px;
$nav-breakpoint: 1000px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1700px;

$breakpoints: ('xs': $xs, 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

/*-------------------------
*  Colours
*--------------------------*/
$white: #fff;
$black: #000;
$grey: #818181;
$box-shadow-grey: #d2d2d2;
$transparent-white: #ffffff38;
$medium-grey: #e6e6e6;
$success-green: rgb(0, 145, 0);
$error-red: rgb(179, 0, 0);
$light-grey: #f0f0f0;
$focus-color: #3B99FC;
$search-box-highlight: #1e1e9b;
$block-border-color: #717171;
$gg-light-blue: rgb(136, 204, 226);
$gg-blue: #0872bb;
$ypt-search-form-bg: #e1f3f9;
$ypt-nested-search-form-bg: #edf7fb;
$ypt-search-highlight: #b3ecff;



// custom colours

$colours: ('white': $white, 'black': $black, 'light-grey': $light-grey);

/*-------------------------
*  Typography
*--------------------------*/
$base-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-fs: 18px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;
