.small-cta, .wp-block-gutenberg-good-guitarist-small-cta {
	padding: 1rem;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	margin-top: 28px;
	margin-bottom: 28px;
	box-shadow: 1px 1px 3px $grey;

	@media screen and (min-width: 800px) {
		flex-direction: row;
	}

	.image-container {
		width: fit-content;
		display: flex;

		img {
			@media screen and (min-width: 800px) {
				max-height: 150px;
			}
		}

		button {
			background: none;
			border: none;
			color: $gg-blue;
			cursor: pointer;
		}
	}

	.details-container {
		margin-left: 5%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			margin-bottom: 5%;
			align-self: center;
		}

		.button-text-input {
			max-width: 50%;
		}

		// Appears on frontend.
		.cta-button {
            text-decoration: none;
			cursor: pointer;
			align-self: center;
			padding: 0.75rem 1rem;
			border: none;
			border-radius: 2px;
			color: $white;
			background: $gg-blue;
		}
	}
}
