#ypt-ajax-filter-search {
	display: flex;
	margin: 1rem;
	flex-direction: column;

	@include atTablet {
		flex-direction: row;
	}

	form {
		width: 100%;
		min-width: 25%;
		display: block;
		background-color: $ypt-search-form-bg;
		border-radius: 6px;
		z-index: 1;

		@include atTablet {
			width: 25%;
			max-height: 80vh;
		}

		.search-text-section {
			padding-top: 1rem;

			@include atTablet {
				padding-bottom: 2rem;
			}

			label {
				margin-left: 1rem;
			}

			#songSearchText {
				border: 2px solid $black;
				border-radius: 3px;
				padding: 0.5rem;
				padding-left: 1rem;
				margin-left: 1rem;
				margin-top: 1rem;
				display: block;
				width: 50%;

				@include atTablet {
					width: 85%;
				}
			}

			.filters-expand-button {
				background: none;
				border: none;
				text-decoration: underline;
				padding-top: 1.5rem;
				padding-bottom: 0.75rem;
				font-size: 1.2rem;
				font-weight: bold;
				cursor: pointer;
				display: block;
				margin: auto;

				@include atTablet {
					display: none;
				}

				span {
					width: inherit;
					height: inherit;
					text-decoration: none;
					font-size: 1.5rem;
					transition: transform 0.5s ease-in-out;
				}
			}
		}

		.search-label {
			font-weight: bold;
			font-size: 1.2rem;
			padding: 1rem 0;
			color: $black;
		}

		.search-filters-section {
			max-height: 450px;
			display: block;
			overflow-y: auto;
			background-color: $ypt-nested-search-form-bg;
			height: 0px;
			transition: height 0.75s ease-in-out;

			@include atTablet {
				height: inherit;
				max-height: 65%;
			}

			.search-filter {
				margin-left: 1rem;
			}

			.search-filter {
				border: none;
				padding: 0;
				padding-bottom: 0.75rem;

				label {
					font-size: 1.1rem;
					margin-left: 0.1rem;
				}

				.chord-filter-type-container {
					margin-bottom: 1rem;

					label {
						display: inline;
					}
				}
			}

			.single-button-filters-container {
				padding: 1rem 0;
				margin-top: 1rem;
				margin-left: 1rem;

				.single-button-filter-label {
					font-weight: bold;
					font-size: 1.2rem;
					color: $black;
				}
			}
		}

		.search-button-area {
			background-color: $ypt-search-form-bg;

			.search-btn {
				margin: 1rem;
				background-color: $white;
				border: 2px solid $black;
			}
		}
	}

	#ypt-ajax-search-results {
		margin-top: 0;
		display: grid;
		grid-template-columns: 1fr;
		list-style-type: none;
		padding-left: 0;
		padding-top: 1rem;

		@include atMobile {
			grid-template-columns: 1fr 1fr;
		}

		@include atTablet {
			grid-template-columns: 1fr 1fr 1fr;
			padding-left: 2rem;
			padding-top: 0;
		}

		.ypt-result {
			margin: 1rem;

			a {
				color: black;

				img {
					width: 100%;
					max-width: inherit;
				}

				h3 {
					font-size: 1.1rem;
					line-height: 1.3;
				}
			}
		}
	}
}
