[data-type="gutenberg-good-guitarist/ypt"] {
	border: 1px solid $block-border-color;
	border-radius: 4px;
	padding: 1rem 2rem;

	.youtube-video-url {
		width: 100%;

		.components-base-control__field {

			input.block-editor-url-input__input {
				width: 100%;
				border: 1px solid rgb(88, 193, 228);
				border-radius: 2px;
			}
		}
	}

	.youtube-post-label {
		display: block;
		margin-bottom: 8px;
		font-size: 13px;
	}

	iframe {
		padding: 2rem;
	}

	.components-base-control {
		& > div {
			display: flex;
			flex-wrap: wrap;

			label {
				width: 100%;
			}

			textarea {
				width: 100%;
				min-height: 400px;
			}
		}
	}

	.fetch-message {
		height: 22px;
		display: block;

		&-hidden {
			opacity: 0;
			transition: opacity 1s;
		}

		&-success {
			color: $success-green;
			opacity: 100;
			transition: opacity 0.25s;
		}

		&-fail {
			color: $error-red;
			opacity: 100;
			transition: opacity 0.25s;
		}
	}

}

.wp-block-gutenberg-good-guitarist-ypt {
	.post-content-video-description {
		white-space: pre-wrap;
	}
}
