[data-type="gutenberg-good-guitarist/ypt"] {
	border: 1px solid $block-border-color;
	border-radius: 4px;

	section {
		margin: 0 1rem;
		padding: 1rem 2rem;

		&:first-of-type {
			border-bottom: 2px solid $medium-grey;
		}
	}

	form {
		display: grid;
		grid-template-columns: auto 20%;
		margin-bottom: 1rem;


		.youtube-video-url {
			width: 100%;

			.components-base-control__field {

				input.block-editor-url-input__input {
					width: 100%;
					border: 1px solid $gg-light-blue;
					border-radius: 2px;
				}
			}
		}

		.yt-submit-button {
			cursor: pointer;
			background-color: $gg-blue;
			border: none;
			border-radius: 3px;
			color: $white;
			padding: 0.5rem 1rem;
			margin-left: 0.5rem;
		}
	}

	.youtube-post-label {
		display: block;
		margin: 8px 0;
		font-size: 13px;
	}

	input[type="text"] {
		display: block;
		width: 100%;
	}

	.components-base-control {
		& > div {
			display: flex;
			flex-wrap: wrap;

			label {
				width: 100%;
			}

			textarea {
				width: 100%;
				min-height: 400px;
			}
		}
	}

	.fetch-message {
		height: 22px;
		display: block;

		&-hidden {
			opacity: 0;
			transition: opacity 1s;
		}

		&-success {
			color: $success-green;
			opacity: 100;
			transition: opacity 0.25s;
		}

		&-fail {
			color: $error-red;
			opacity: 100;
			transition: opacity 0.25s;
		}
	}

	.post-body {
		.youtube-post-video-area {
			display: flex;

			iframe {
				width: 70%;
			}

			.iframe-full-width {
				width: 100%;
			}

			.iframe-two-third-width {
				width: 70%;
			}

			.course-sidebar {
				width: 30%;
				margin-left: 1.5rem;

				.sidebar-course-card {
					display: flex;
					padding: 3%;
					background-color: $light-grey;
					border-radius: 3px;
					height: 40%;

					&:first-of-type {
						margin-bottom: 7%;
					}

					img {
						max-width: 50%;
						object-fit: contain;
					}

					.course-card-body {
						padding-left: 1rem;
						display: flex;
						flex-direction: column;
						width: 100%;

						.body-text {
							font-size: 0.9rem;
						}

						.course-url-button {
							background-color: $gg-blue;
							border-radius: 3px;
							color: white;
							padding: 0.5rem 1rem;
							align-self: center;
						}
					}
				}
			}
		}

		.post-content-video-description {
			.post-body-course-area {
				margin: 0.75rem 0;

				p {
					margin: 0;
				}

				&.no-course {
					padding: 0.5rem;
					border: 2px dashed $gg-blue;
					background-color: $ypt-nested-search-form-bg;
				}

				&.course {
					border: 1px solid black;
					// background-color:
				}
			}
		}
	}

	.empty-post-body-msg {
		color: $grey;
		font-style: italic;
	}

}

// Frontend.
.wp-block-gutenberg-good-guitarist-ypt {
	.post-content-video-description {
		white-space: pre-wrap;


	}
}
