#ypt-ajax-filter-search {
	display: flex;
	margin: 1rem 1rem;

	form {
		max-width: 30%;
		padding: 0 1rem;
		border-right: 1px solid $search-box-highlight;

		#songSearchText {
			border: 2px solid $search-box-highlight;
			border-radius: 3px;
			padding: 0.5rem;
		}

		.search-label {
			font-weight: bold;
			font-size: 1.2rem;
			padding: 1rem 0;
			color: $search-box-highlight;
		}

		.search-filter {
			border: none;
			padding: 0;

			label {
				font-size: 1.1rem;
				margin-left: 0.1rem;
			}

			.chord-filter-type-container {
				margin-bottom: 1rem;

				label {
					display: inline;
				}
			}

		}

		.single-button-filters-container {
			border-top: 1px solid $search-box-highlight;
			padding: 1rem 0;
			margin-top: 1rem;

			.single-button-filter-label {
				font-weight: bold;
				font-size: 1.2rem;
				color: $search-box-highlight;
			}
		}

		.search-btn {
			background-color: $white;
			border: 2px solid $search-box-highlight;
		}
	}

	#ypt-ajax-search-results {
		flex-grow: 1;
		display: flex;
		list-style-type: none;

		.ypt-result {
			max-width: 30%;
		}
	}


}
