#ypt-ajax-filter-search {
	display: flex;
	margin: 1rem;
	flex-direction: column;

	@include atTablet {
		flex-direction: row;
		min-height: 700px;
		height: 90vh;
	}

	form {
		width: 100%;
		min-width: 25%;
		display: block;
		background-color: $ypt-search-form-bg;
		border-radius: 6px;
		z-index: 1;

		@include atTablet {
			width: 25%;
			max-height: 100%;
		}

		.search-text-section {
			display: flex;
			flex-direction: column;
			padding-top: 1rem;

			@include atTablet {
				display: inherit;
				padding-bottom: 2rem;
			}

			label {
				margin-left: 1rem;
				display: inline-block;
			}

			#songSearchText {
				border: 2px solid $black;
				border-radius: 3px;
				padding: 0.5rem;
				padding-left: 1rem;
				display: block;
				width: 80%;
				align-self: center;

				@include atTablet {
					margin-top: 1rem;
					margin-left: 1rem;
					max-width: 85%;
					width: inherit;
				}
			}

			.filters-expand-button {
				background: none;
				border: none;
				text-decoration: underline;
				padding-top: 1.5rem;
				padding-bottom: 0.75rem;
				font-size: 1.2rem;
				font-weight: bold;
				cursor: pointer;
				display: block;
				margin: auto;

				@include atTablet {
					display: none;
				}

				span {
					width: inherit;
					height: inherit;
					text-decoration: none;
					font-size: 1.5rem;
					transition: transform 0.5s ease-in-out;
				}
			}
		}

		.search-label {
			font-weight: bold;
			font-size: 1.2rem;
			padding-top: 0.5rem;
			color: $black;
			align-self: center;

			@include atTablet {
				align-self: inherit;
			}
		}

		.search-filters-section {
			max-height: 300px;
			display: block;
			overflow-y: auto;
			background-color: $ypt-nested-search-form-bg;
			height: 0px;
			transition: height 0.75s ease-in-out;

			@include atTablet {
				height: inherit;
				max-height: 65%;
			}

			.search-filter {
				margin-left: 1rem;
			}

			.search-filter {
				border: none;
				padding: 0;
				padding-bottom: 0.75rem;

				label {
					font-size: 1.1rem;
					margin-left: 0.1rem;
				}

				.chord-filter-type-container {
					margin-bottom: 1rem;

					label {
						display: inline;
					}
				}
			}

			.single-button-filters-container {
				padding: 1rem 0;
				margin-top: 1rem;
				margin-left: 1rem;

				.single-button-filter-label {
					font-weight: bold;
					font-size: 1.2rem;
					color: $black;
				}
			}
		}

		.search-button-area {
			display: flex;
			flex-direction: column;
			background-color: $ypt-search-form-bg;

			.search-btn {
				width: 70%;
				align-self: center;
				margin: 1rem;
				background-color: $white;
				border: 2px solid $black;
			}
		}
	}

	.song-search-results {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.search-results-count {
			display: flex;
			justify-content: center;
			font-size: 1.2rem;
			font-weight: bold;
			margin: 1rem 0;
			padding-bottom: 0.5rem;

			@include atTablet {
				border-bottom: 2px solid $ypt-search-highlight;
				margin: 0px 33rem;
			}

			.count {
				padding: 0 0.25rem;
			}
		}

		.search-results-controls {
			display: flex;
			justify-content: space-between;

			button {
				cursor: pointer;
				background: none;
				border: none;
				font-size: 1.2rem;
				font-weight: bold;
				border-bottom: 2px solid $ypt-search-highlight;
				margin: 0 1rem;
			}

			.search-results-page-count {
				.current-page, .last-page {
					font-weight: bold;
					padding: 0 0.25rem;
				}
			}
		}

		#ypt-ajax-search-results {
			height: 100%;
			margin-top: 0;
			display: grid;
			grid-template-columns: 1fr;
			list-style-type: none;
			padding-left: 0;
			padding-top: 1rem;
			overflow: hidden;

			@include atMobile {
				grid-template-columns: 1fr 1fr;
			}

			@include atTablet {
				grid-template-rows: 1fr 1fr;
				grid-template-columns: 1fr 1fr 1fr;
				padding-left: 2rem;
				padding-top: 0;
			}

			.ypt-result {
				margin: 1rem;

				a {
					color: black;

					img {
						width: 100%;
						max-width: inherit;
					}

					h3 {
						font-size: 1.1rem;
						line-height: 1.3;
					}
				}
			}
		}
	}
}
